input{
    border-radius: 5px;
    padding: 5px;
}
.content{
    border-radius: 10px;
    padding: 1rem;
    margin: 8rem 8rem 8rem 8rem;
    background-color: wheat;
}
.contact{
    display: flex;
    justify-content: center;
}
.contactForm{
    align-content: space-around;
    justify-content: space-around;
}
.contactForm input{
    display: flex;
}