.spacer{
    margin-top: 5%;
}
.text{
    justify-self: flex-start;
    width: 50%;
}
.hobbyGallery{
    overflow-x: hidden;
}
.hobbyGallery img{
    width: 25%;
    height: 25%;
    border-radius: 15px;
    border: 4px solid black;
}
#leftAlign{
    justify-self: flex-start;
}
#rightAlign{
    justify-self: flex-end;
}
.flexLeft{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
.flexRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.content{
    transform: translateX(400%);
    transition: transform 0.4s ease;
}
.content:nth-of-type(even){
    transform: translateX(-400%);
}
.content.show{
    transform: translateX(0);
}
