/*ANCHOR Hide the navigation bar toggle on large screen*/
:root{
    --banner-color: #003B73;
    --nav-bar-color:#60A3D9 ;
    --hover-color: #0074B7;
    --active-color:#8fbde8;
}
.openclosenav{
    display: none;
}
.Title{
    overflow: hidden;
    display: grid;
    grid-template-columns: auto max-content 90px 90px 90px 90px 100px;
    align-items: center;
    background-color: var(--banner-color);
}
.Title h2, .Title h3{
    margin: 0;
    font-family: inherit;
    color: #fefefe;
}
.Title #icon{
    margin-top: 5px;
    width: 120px;
    height: 40px;
}
.Title h2{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}
.Title h3{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}
.navDropdown{
    /*Hide nav dropdown by default*/
    display: none;
}
.titleimg1{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}
.titleimg2{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
}
.titleimg3{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 5;
}
.titleimg4{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 6;
    grid-column-end: 6;
}
.titleimg5{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 7;
    grid-column-end: 7;
}
.navBar{
    display: flex;
    background-color: var(--hover-color);
}
.navBar a{
    color: inherit;  /*blue colors for links too */
    text-decoration: inherit; /*no underline */
}
.navButton{
    color: #fefefe;
    margin: 0;
    font-size: 100%;
    display: inline-flex;
    padding-left:8px;
    padding-right:8px;
    transition: background-color 0.3s;
    background-color: var(--nav-bar-color);
}
.navButton:hover {
    transition: 0.3s;
    background-color: var(--hover-color);
    cursor: pointer;
}
#active {
    transition: 0.3s;
    background-color: var(--active-color);
}
.navBar img{
    width: 120px;
    height: 40px;
    margin-top: 10px;
}
/*Responsive navbar on small screens*/
@media (max-width: 830px){
    /*Hide language icons and text.*/
    .Title #icon, .Title h3{
        display: none;
    }
    .Title{
        grid-template-columns: auto 100px;
    }
    /*Align the dropdown icon for mobile view*/
    .navDropdown{
        display: grid;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        align-self: center;
        justify-self: flex-end;
        margin-right: 10%;
        width: 30%;
        height: 50%;
    }
    .navBar{
        overflow-x: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 15px var(--active-color);
        height: 286.133px;
        transition: 0.2s ease;
    }
    .navButton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .navButton:hover {
        width: 100vw;
        cursor: pointer;
    }
    #active{
        display: none;
    }
    .navBar img{
        width: 120px;
        height: 40px;
        margin-top: 10px;
    }
    .hide{
        height: 0px;
    }
}