body{
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    margin: 0;
    background-image: url("/public/nature.jpg");
}
/*Responsive text large screen => small screen*/
@media (min-width: 1100px) {
    .bodyText{
        font-size: 100%;
        margin-left: 1rem;
        margin-right: 50%;
        text-align: justify;
    }
}
@media (max-width: 750px){
    .bodyText{
        font-size: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }   
}